---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dependencies
@import 'bourbon';
@import 'neat';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "banner",
  "base",
  "grid",
  "navigation",
  "page",
  "pictures",
  "social",
  "thumbnail",
  "titles"
;
