<header class="header">
  <h1 class="title">Michelle Lammerts</h1>
  <nav class="navigation">
    {% if page.url == '/index.html' %}
      <a href="/index.html" class="navigation-item active">HOME</a>
    {% else %}
      <a href="/index.html" class="navigation-item">HOME</a>
    {% endif %}

    {% if page.url == '/about.html' %}
      <a href="/about.html" class="navigation-item active">ABOUT</a>
    {% else %}
      <a href="/about.html" class="navigation-item">ABOUT</a>
    {% endif %}

    {% if page.url == '/contact.html' %}
      <a href="/contact.html" class="navigation-item active">CONTACT</a>
    {% else %}
      <a href="/contact.html" class="navigation-item">CONTACT</a>
    {% endif %}
  </nav>
</header>
