.header {
  padding-bottom: 100px;
}

.header-logo {
  text-align: center;
}

.header-logo-image {
  width: 130px;
}

.name {
  font-size: 1.3em;
  font-family:'Helvetica neue';
  font-weight: lighter;
  text-align: center;
  color: white;
}
