.navigation {
margin-left: auto;
}

.navigation-item {
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-left: 25px;
  text-decoration: none;
  color: #B3B3B3;
}

.navigation-item.active {
  opacity: 0.6;
  text-decoration: underline;
}

.navigation-item:hover {
  opacity: 0.5;
  text-decoration: underline;
}
