.thumbnail {
  position: relative;
  display: block;
}

.thumbnail-title {
font-family: 'lato',sans-serif;
font-weight: 300;
font-size: 16px;
text-decoration: none;
position: absolute;
padding-left: 0%;
padding-top: 78.5%;
color: #575C5E;
}

.thumbnail:hover .thumbnail-title {
color: #B3B3B3;
opacity: 0.7;
text-decoration: underline;
}

.thumbnail:hover .thumbnail-image {
  opacity: 0.5;
}
