.thumbnail {
  position: relative;
  display: block;
}

.thumbnail-title {
  display: block;
  position: absolute;
  color: white;
  background-color: #B3B3B3;
  bottom: 40px;
  text-align: center;
  padding: 0.3em 0 0.4em;
  width: 100%;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 18px;
  z-index: 100;
}

.thumbnail-image {
  transition: opacity 200ms ease;
}

.thumbnail:hover .thumbnail-image {
  opacity: 0.5;
}
