.title {
  text-align: left;
  font-size: 30px;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 0.25em;
  margin: 0;
}

.subtitle {
  text-align: left;
  color: #B3B3B3;
  font-size: 28px;
  font-family: 'lato',sans-serif;
  line-height: 1;
  font-weight: 300;
  margin: 0px;
}
